{{=[[ ]]=}}
<!DOCTYPE html>
<html>
  <head>
    <title>[[form.title]]</title>
  </head>
  <body>
    <h1>[[form.title]]</h1>
    <form action="/[[form.urlpath]]/" method="post">
      <!-- enctype, csrf token, ... -->
      [[#fields]]
      [[>fields/html_field]]
      [[#wq:nested]]
      <h2>[[label]]</h2>
      {{#[[plural_name]]}}
      [[#children]]
      [[>fields/html_field]]
      [[/children]]
      <hr>
      {{/[[plural_name]]}}
      [[/wq:nested]]
      [[/fields]]
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
